body{
    background-image: url(m4bg.png);
}

.box{
    padding: 15px;
    margin: 15px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background-color: rgb(5, 5, 5);
    cursor: pointer;
    width: 1000px;
}
.bix{
    padding: 15px;
    margin: 15px;
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(21, 255, 0, 0.575);
    background-color: rgb(59, 59, 59);
    cursor: pointer;
    width: 1000px;
}
.bex{
    display: inline-block;
    background-color: rgba(5, 5, 5, 0);
    border-color: rgba(5, 5, 5, 0);
    cursor: pointer;
}

@font-face {
    font-family: "font1";
    src: url(FONT/True_Lies.ttf);
}

h1{
    font-family: "font1";
    color: rgb(230, 230, 230);
}